<div class="col-md-8 col-md-offset-2 column">
  <h3>Selected Apps</h3>
  <div id='quickSearchResultTable'>
    {{#each apps}}
      <div class="row" data-id="{{this.id}}">
        <div class="col-md-1 column">
          {{> quicks/_app_icon}}
        </div>
        <div class="col-md-2 column">
          <img src="{{this.logo_url}}" alt="{{this.title}}" width="64">
        </div>
        <div class="col-md-9 column">
          <h4>
            <a href="{{this.url}}" target="_blank">{{this.title}}</a>
          </h4>
          <span class="label label-info">{{this.publisher}}</span>
        </div>
      </div>
    {{/each}}
  </div>
  <h3>Access Code</h3>
  <input type="text" value="{{link.private_code}}"/>
  <h3>Link to publish</h3>
  <input type="text" value="{{link.public_link}}"/>
  <h3>Button code</h3>
  <textarea>{{link.button}}</textarea>
  <div class="row">
    <span class="btn btn-primary col-md-6 column" id="actionQuickSave">Save</span>
    <span class="btn btn-default col-md-6 column" id="actionQuickCancel">Discard</span>
  </div>
</div>
